@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table,
input, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top;
  transition: all 0.3s ease-out; }

/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	                    BASE DEVELOP
------------------------------------------------------------*/
/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	                    HEADER LAYOUT
------------------------------------------------------------*/
/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	                    FOOTER LAYOUT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    SIDE LAYOUT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    BREADCRUMB LAYOUT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    MAIN LAYOUT
------------------------------------------------------------*/
body {
  min-width: 800px; }

.l-content {
  max-width: 1060px;
  margin: 0 auto;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 768px) {
  .pc-only {
    display: none !important; } }

@media screen and (min-width: 768px) {
  .sp-only {
    display: none !important; } }

@media screen and (max-width: 768px) {
  .sp-only {
    display: block; } }

@media screen and (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto; } }

/*------------------------------------------------------------
	                    BTN COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    TITLE COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    ICON COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    FORM COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    TEXT COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    NAVIGATION COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    IMAGES & IMAGES TEXT COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    LIST COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    TABLE COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    LINE COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    VIDEO COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    SLIDER COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    OTHER COMPONENT
------------------------------------------------------------*/
/*------------------------------------------------------------
	                    PAGE COMPONENT
------------------------------------------------------------*/
/*--------------------------------------------------------
------------------------FLEX BOX-------------------------------
---------------------------------------------------------*/
/*--------------------------------------------------------
----------------------GRID CONTAINER---------------------------------
---------------------------------------------------------*/
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important; }

.taCenter {
  text-align: center !important; }

.taRight {
  text-align: right !important; }

.vTop {
  vertical-align: top !important; }

.vMiddle {
  vertical-align: middle !important; }

/* font weight */
.fwNormal {
  font-weight: normal !important; }

.fwBold {
  font-weight: bold !important; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    display: block;
    clear: both;
    content: ""; }

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
